# 3x3 assembly inputfile that:

### Import module/Set up XS path/Create openMC model/Clean directory

In [12]:
import sys
import os 
import openmc
import numpy as np
import matplotlib.pyplot as plt
import openmc.mgxs as mgxs
import pandas as pd
from IPython.display import Image
import glob
import re

### Pablo environnement

In [13]:
model=openmc.Model()

clean_file_list = ["model.xml", "materials.xml", "geometry.xml","plots.xml","geometry.xml","settings.xml","tallies.out","summary.h5","statepoint.50.h5"]
for file in clean_file_list :
    path_file = os.path.join(os.getcwd(), file)
    if os.path.exists(path_file):
        os.remove(path_file)

### Define Materials

In [14]:
uo2 = openmc.Material(name='uo2')
uo2.add_nuclide('U234', 6.11864E-06, 'ao')
uo2.add_nuclide('U235', 7.18132E-04, 'ao')
uo2.add_nuclide('U236', 3.29861E-06, 'ao')
uo2.add_nuclide('U238', 2.21546E-02, 'ao')
uo2.add_nuclide('O16', 4.57642E-02, 'ao')
uo2.set_density('g/cm3', 10.257 )
uo2.temperature=565

zirconium = openmc.Material(name="zirconium")
zirconium.add_nuclide('Zr90', 2.18865E-02, 'ao')
zirconium.add_nuclide('Zr91', 4.77292E-03, 'ao')
zirconium.add_nuclide('Zr92', 7.29551E-03, 'ao')
zirconium.add_nuclide('Zr94', 7.39335E-03, 'ao')
zirconium.add_nuclide('Zr96', 1.19110E-03, 'ao')
zirconium.add_nuclide('Sn112',4.68066E-06, 'ao')
zirconium.add_nuclide('Sn114', 3.18478E-06, 'ao')
zirconium.add_nuclide('Sn115', 1.64064E-06, 'ao')
zirconium.add_nuclide('Sn116', 7.01616E-05, 'ao')
zirconium.add_nuclide('Sn117', 3.70592E-05, 'ao')
zirconium.add_nuclide('Sn118', 1.16872E-04, 'ao')
zirconium.add_nuclide('Sn119', 4.14504E-05, 'ao')
zirconium.add_nuclide('Sn120', 1.57212E-04, 'ao')
zirconium.add_nuclide('Sn122', 2.23417E-05, 'ao')
zirconium.add_nuclide('Sn124', 2.79392E-05, 'ao')
zirconium.add_nuclide('Fe54', 8.68307E-06, 'ao')
zirconium.add_nuclide('Fe56', 1.36306E-04, 'ao')
zirconium.add_nuclide('Fe57', 3.14789E-06, 'ao')
zirconium.add_nuclide('Fe58', 4.18926E-07, 'ao')
zirconium.add_nuclide('Cr50', 3.30121E-06, 'ao')
zirconium.add_nuclide('Cr52', 6.36606E-05, 'ao')
zirconium.add_nuclide('Cr53', 7.21860E-06, 'ao')
zirconium.add_nuclide('Cr54', 1.79686E-06, 'ao')
zirconium.add_nuclide('Hf174', 3.54138E-09, 'ao')
zirconium.add_nuclide('Hf176', 1.16423E-07, 'ao')
zirconium.add_nuclide('Hf177', 4.11686E-07, 'ao')
zirconium.add_nuclide('Hf178', 6.03806E-07, 'ao')
zirconium.add_nuclide('Hf179', 3.01460E-07, 'ao')
zirconium.add_nuclide('Hf180', 7.76449E-07, 'ao')
zirconium.set_density('g/cm3',  6.56)

water = openmc.Material(name="water")
water.add_nuclide('H1',4.41459E-02, 'ao')
water.add_nuclide('O16', 2.20729E-02, 'ao')
water.add_nuclide('B10', 9.52537E-06, 'ao')
water.add_nuclide('B11', 3.83408E-05, 'ao')
water.temperature=565
water.set_density('g/cm3', 0.743)
water.add_s_alpha_beta('c_H_in_H2O')

helium = openmc.Material(name="helium")
helium.add_nuclide('He4',1, 'ao')
helium.temperature=565
helium.set_density('g/cm3', 0.17860E-03)



model.materials = openmc.Materials([uo2, zirconium, water,helium]) 
#Perso path
#model.materials.cross_sections = '/home/pablo/internship/xs_for_input/cross_sections.xml'
#Mac path
model.materials.cross_sections = '/Users/pablogarcia44/repo/endfb-vii.1-hdf5/cross_sections.xml'

### Create pincell

In [15]:
def pincell(index_x,index_y):
    fuel_outer_radius = openmc.ZCylinder(r=0.4096)
    clad_inner_radius = openmc.ZCylinder(r=0.418)
    clad_outer_radius = openmc.ZCylinder(r=0.475)
    pitch = 1.26
    left = openmc.XPlane(-pitch/2, boundary_type='transmission')
    right = openmc.XPlane(pitch/2, boundary_type='transmission')
    bottom = openmc.YPlane(-pitch/2, boundary_type='transmission')
    top = openmc.YPlane(pitch/2, boundary_type='transmission')
    fuel_region = -fuel_outer_radius
    gap_region = +fuel_outer_radius & -clad_inner_radius
    clad_region = +clad_inner_radius & -clad_outer_radius
    water_region = +left & -right & +bottom & -top & +clad_outer_radius
    fuel = openmc.Cell(name='fuel'+'_'+str(index_x)+'_'+str(index_y))
    fuel.fill = uo2
    fuel.region = fuel_region
    gap = openmc.Cell(name='gap'+'_'+str(index_x)+'_'+str(index_y))
    gap.region = gap_region
    gap.fill = helium
    clad = openmc.Cell(name='clad'+'_'+str(index_x)+'_'+str(index_y))
    clad.fill = zirconium
    clad.region = clad_region
    moderator = openmc.Cell(name='moderator'+'_'+str(index_x)+'_'+str(index_y))
    moderator.fill = water
    moderator.region = water_region 
    u = openmc.Universe(name='u'+'_'+str(index_x)+'_'+str(index_y),cells=(fuel, gap, clad, moderator))
    return(u,fuel,gap,clad,moderator)

### Create guide tube

In [16]:
def guide(index_x,index_y):
    clad_inner_radius = openmc.ZCylinder(r=0.561)
    clad_outer_radius = openmc.ZCylinder(r=0.602)
    pitch = 1.26
    left = openmc.XPlane(-pitch/2, boundary_type='transmission')
    right = openmc.XPlane(pitch/2, boundary_type='transmission')
    bottom = openmc.YPlane(-pitch/2, boundary_type='transmission')
    top = openmc.YPlane(pitch/2, boundary_type='transmission')       
    clad_region = +clad_inner_radius & -clad_outer_radius
    water_region = +left & -right & +bottom & -top & +clad_outer_radius
    water_guide_region= -clad_inner_radius
    water_guide = openmc.Cell(name='water'+'_'+str(index_x)+'_'+str(index_y))
    water_guide.fill = water
    water_guide.region = water_guide_region
    clad = openmc.Cell(name='clad'+'_'+str(index_x)+'_'+str(index_y))
    clad.fill = zirconium
    clad.region = clad_region
    moderator = openmc.Cell(name='moderator'+'_'+str(index_x)+'_'+str(index_y))
    moderator.fill = water
    moderator.region = water_region 
    u = openmc.Universe(name='u'+'_'+str(index_x)+'_'+str(index_y),cells=(water_guide, clad, moderator))
    return(u,water_guide,water_guide,clad,moderator)

### Create instrumentation tube

In [17]:
def instru(index_x,index_y):
    clad_inner_radius = openmc.ZCylinder(r=0.559)
    clad_outer_radius = openmc.ZCylinder(r=0.605)
    pitch = 1.26
    left = openmc.XPlane(-pitch/2, boundary_type='transmission')
    right = openmc.XPlane(pitch/2, boundary_type='transmission')
    bottom = openmc.YPlane(-pitch/2, boundary_type='transmission')
    top = openmc.YPlane(pitch/2, boundary_type='transmission')       
    clad_region = +clad_inner_radius & -clad_outer_radius
    water_region = +left & -right & +bottom & -top & +clad_outer_radius
    water_guide_region= -clad_inner_radius
    water_guide = openmc.Cell(name='water'+'_'+str(index_x)+'_'+str(index_y))
    water_guide.fill = water
    water_guide.region = water_guide_region
    clad = openmc.Cell(name='clad'+'_'+str(index_x)+'_'+str(index_y))
    clad.fill = zirconium
    clad.region = clad_region
    moderator = openmc.Cell(name='moderator'+'_'+str(index_x)+'_'+str(index_y))
    moderator.fill = water
    moderator.region = water_region 
    u = openmc.Universe(name='u'+'_'+str(index_x)+'_'+str(index_y),cells=(water_guide, clad, moderator))
    return(u,water_guide,water_guide,clad,moderator)

### Mappping

In [18]:
GT=[(5,2),(8,2),(3,3),(2,5),(5,5),(8,5),(2,8),(5,8)]
IT=[(8,8)]

GT_left=[]
GT_full=[]
for X in GT:
    GT_left.append((X[0],X[1]))
    GT_left.append((X[0],16-X[1]))
for X in GT_left:
    GT_full.append((X[0],X[1]))
    GT_full.append((16-X[0],X[1]))    
GT_full = list(set(GT_full))

### Define assembly

In [19]:
assembly = openmc.RectLattice()
pitch=1.26

dr=4e-2 # cm of water that is outside assembly
size=17 #size of the assembly 
pitch_assembly=size*pitch+2*dr 
assembly.pitch = (pitch,pitch)

assembly.lower_left = (-size/2*pitch, -size/2*pitch)


A= np.empty((size, size), dtype=openmc.universe.Universe)
   

for ix in range(size):
    for iy in range(size):
        if (ix,iy) in GT_full : 
            A[ix][iy]=guide(ix,iy)[0]
            A[iy][ix]=A[ix][iy]
        elif (ix,iy) in IT :
            A[ix][iy]=instru(ix,iy)[0]
            A[iy][ix]=A[ix][iy]
        else:
            A[ix][iy]=pincell(ix,iy)[0]
            A[iy][ix]=A[ix][iy]
print(A)   
assembly.universes = A

moderator_outside = openmc.Cell(name='water_outside')
moderator_outside.fill = water
all_water = openmc.Universe()
all_water.add_cell(moderator_outside)
assembly.outer=all_water

rod_height=385.1
# 1/4 assembly
min_x = openmc.XPlane(x0=-(size/2*pitch+dr), boundary_type='reflective')
max_x = openmc.XPlane(x0=0, boundary_type='reflective')
min_y = openmc.YPlane(y0=0, boundary_type='reflective')
max_y = openmc.YPlane(y0=+(size/2*pitch+dr), boundary_type='reflective')
min_z = openmc.ZPlane(z0=-rod_height/2, boundary_type='reflective')
max_z = openmc.ZPlane(z0=+rod_height/2, boundary_type='reflective')



root_cell = openmc.Cell(name='root cell', fill=assembly)
root_cell.region = +min_x & -max_x & +min_y & -max_y & +min_z & -max_z

model.geometry.root_universe = openmc.Universe(name='root universe')
model.geometry.root_universe.add_cell(root_cell)

[[Universe
  	ID             =	294
  	Name           =	u_0_0
  	Geom           =	CSG
  	Cells          =	[1134, 1135, 1136, 1137]
  Universe
  	ID             =	311
  	Name           =	u_1_0
  	Geom           =	CSG
  	Cells          =	[1202, 1203, 1204, 1205]
  Universe
  	ID             =	328
  	Name           =	u_2_0
  	Geom           =	CSG
  	Cells          =	[1270, 1271, 1272, 1273]
  Universe
  	ID             =	345
  	Name           =	u_3_0
  	Geom           =	CSG
  	Cells          =	[1335, 1336, 1337, 1338]
  Universe
  	ID             =	362
  	Name           =	u_4_0
  	Geom           =	CSG
  	Cells          =	[1401, 1402, 1403, 1404]
  Universe
  	ID             =	379
  	Name           =	u_5_0
  	Geom           =	CSG
  	Cells          =	[1469, 1470, 1471, 1472]
  Universe
  	ID             =	396
  	Name           =	u_6_0
  	Geom           =	CSG
  	Cells          =	[1532, 1533, 1534, 1535]
  Universe
  	ID             =	413
  	Name           =	u_7_0
  	Geom           =	CSG
  	Cells          =	[1600, 1601, 1602, 1603]
  Universe
  	ID             =	430
  	Name           =	u_8_0
  	Geom           =	CSG
  	Cells          =	[1668, 1669, 1670, 1671]
  Universe
  	ID             =	447
  	Name           =	u_9_0
  	Geom           =	CSG
  	Cells          =	[1731, 1732, 1733, 1734]
  Universe
  	ID             =	464
  	Name           =	u_10_0
  	Geom           =	CSG
  	Cells          =	[1799, 1800, 1801, 1802]
  Universe
  	ID             =	481
  	Name           =	u_11_0
  	Geom           =	CSG
  	Cells          =	[1867, 1868, 1869, 1870]
  Universe
  	ID             =	498
  	Name           =	u_12_0
  	Geom           =	CSG
  	Cells          =	[1930, 1931, 1932, 1933]
  Universe
  	ID             =	515
  	Name           =	u_13_0
  	Geom           =	CSG
  	Cells          =	[1998, 1999, 2000, 2001]
  Universe
  	ID             =	532
  	Name           =	u_14_0
  	Geom           =	CSG
  	Cells          =	[2064, 2065, 2066, 2067]
  Universe
  	ID             =	549
  	Name           =	u_15_0
  	Geom           =	CSG
  	Cells          =	[2129, 2130, 2131, 2132]
  Universe
  	ID             =	566
  	Name           =	u_16_0
  	Geom           =	CSG
  	Cells          =	[2197, 2198, 2199, 2200]]
 [Universe
  	ID             =	311
  	Name           =	u_1_0
  	Geom           =	CSG
  	Cells          =	[1202, 1203, 1204, 1205]
  Universe
  	ID             =	312
  	Name           =	u_1_1
  	Geom           =	CSG
  	Cells          =	[1206, 1207, 1208, 1209]
  Universe
  	ID             =	329
  	Name           =	u_2_1
  	Geom           =	CSG
  	Cells          =	[1274, 1275, 1276, 1277]
  Universe
  	ID             =	346
  	Name           =	u_3_1
  	Geom           =	CSG
  	Cells          =	[1339, 1340, 1341, 1342]
  Universe
  	ID             =	363
  	Name           =	u_4_1
  	Geom           =	CSG
  	Cells          =	[1405, 1406, 1407, 1408]
  Universe
  	ID             =	380
  	Name           =	u_5_1
  	Geom           =	CSG
  	Cells          =	[1473, 1474, 1475, 1476]
  Universe
  	ID             =	397
  	Name           =	u_6_1
  	Geom           =	CSG
  	Cells          =	[1536, 1537, 1538, 1539]
  Universe
  	ID             =	414
  	Name           =	u_7_1
  	Geom           =	CSG
  	Cells          =	[1604, 1605, 1606, 1607]
  Universe
  	ID             =	431
  	Name           =	u_8_1
  	Geom           =	CSG
  	Cells          =	[1672, 1673, 1674, 1675]
  Universe
  	ID             =	448
  	Name           =	u_9_1
  	Geom           =	CSG
  	Cells          =	[1735, 1736, 1737, 1738]
  Universe
  	ID             =	465
  	Name           =	u_10_1
  	Geom           =	CSG
  	Cells          =	[1803, 1804, 1805, 1806]
  Universe
  	ID             =	482
  	Name           =	u_11_1
  	Geom           =	CSG
  	Cells          =	[1871, 1872, 1873, 1874]
  Universe
  	ID             =	499
  	Name           =	u_12_1
  	Geom           =	CSG
  	Cells          =	[1934, 1935, 1936, 1937]
  Universe
  	ID             =	516
  	Name           =	u_13_1
  	Geom           =	CSG
  	Cells          =	[2002, 2003, 2004, 2005]
  Universe
  	ID             =	533
  	Name           =	u_14_1
  	Geom           =	CSG
  	Cells          =	[2068, 2069, 2070, 2071]
  Universe
  	ID             =	550
  	Name           =	u_15_1
  	Geom           =	CSG
  	Cells          =	[2133, 2134, 2135, 2136]
  Universe
  	ID             =	567
  	Name           =	u_16_1
  	Geom           =	CSG
  	Cells          =	[2201, 2202, 2203, 2204]]
 [Universe
  	ID             =	328
  	Name           =	u_2_0
  	Geom           =	CSG
  	Cells          =	[1270, 1271, 1272, 1273]
  Universe
  	ID             =	329
  	Name           =	u_2_1
  	Geom           =	CSG
  	Cells          =	[1274, 1275, 1276, 1277]
  Universe
  	ID             =	330
  	Name           =	u_2_2
  	Geom           =	CSG
  	Cells          =	[1278, 1279, 1280, 1281]
  Universe
  	ID             =	347
  	Name           =	u_3_2
  	Geom           =	CSG
  	Cells          =	[1343, 1344, 1345, 1346]
  Universe
  	ID             =	364
  	Name           =	u_4_2
  	Geom           =	CSG
  	Cells          =	[1409, 1410, 1411, 1412]
  Universe
  	ID             =	381
  	Name           =	u_5_2
  	Geom           =	CSG
  	Cells          =	[1477, 1478, 1479]
  Universe
  	ID             =	398
  	Name           =	u_6_2
  	Geom           =	CSG
  	Cells          =	[1540, 1541, 1542, 1543]
  Universe
  	ID             =	415
  	Name           =	u_7_2
  	Geom           =	CSG
  	Cells          =	[1608, 1609, 1610, 1611]
  Universe
  	ID             =	432
  	Name           =	u_8_2
  	Geom           =	CSG
  	Cells          =	[1676, 1677, 1678]
  Universe
  	ID             =	449
  	Name           =	u_9_2
  	Geom           =	CSG
  	Cells          =	[1739, 1740, 1741, 1742]
  Universe
  	ID             =	466
  	Name           =	u_10_2
  	Geom           =	CSG
  	Cells          =	[1807, 1808, 1809, 1810]
  Universe
  	ID             =	483
  	Name           =	u_11_2
  	Geom           =	CSG
  	Cells          =	[1875, 1876, 1877]
  Universe
  	ID             =	500
  	Name           =	u_12_2
  	Geom           =	CSG
  	Cells          =	[1938, 1939, 1940, 1941]
  Universe
  	ID             =	517
  	Name           =	u_13_2
  	Geom           =	CSG
  	Cells          =	[2006, 2007, 2008, 2009]
  Universe
  	ID             =	534
  	Name           =	u_14_2
  	Geom           =	CSG
  	Cells          =	[2072, 2073, 2074, 2075]
  Universe
  	ID             =	551
  	Name           =	u_15_2
  	Geom           =	CSG
  	Cells          =	[2137, 2138, 2139, 2140]
  Universe
  	ID             =	568
  	Name           =	u_16_2
  	Geom           =	CSG
  	Cells          =	[2205, 2206, 2207, 2208]]
 [Universe
  	ID             =	345
  	Name           =	u_3_0
  	Geom           =	CSG
  	Cells          =	[1335, 1336, 1337, 1338]
  Universe
  	ID             =	346
  	Name           =	u_3_1
  	Geom           =	CSG
  	Cells          =	[1339, 1340, 1341, 1342]
  Universe
  	ID             =	347
  	Name           =	u_3_2
  	Geom           =	CSG
  	Cells          =	[1343, 1344, 1345, 1346]
  Universe
  	ID             =	348
  	Name           =	u_3_3
  	Geom           =	CSG
  	Cells          =	[1347, 1348, 1349]
  Universe
  	ID             =	365
  	Name           =	u_4_3
  	Geom           =	CSG
  	Cells          =	[1413, 1414, 1415, 1416]
  Universe
  	ID             =	382
  	Name           =	u_5_3
  	Geom           =	CSG
  	Cells          =	[1480, 1481, 1482, 1483]
  Universe
  	ID             =	399
  	Name           =	u_6_3
  	Geom           =	CSG
  	Cells          =	[1544, 1545, 1546, 1547]
  Universe
  	ID             =	416
  	Name           =	u_7_3
  	Geom           =	CSG
  	Cells          =	[1612, 1613, 1614, 1615]
  Universe
  	ID             =	433
  	Name           =	u_8_3
  	Geom           =	CSG
  	Cells          =	[1679, 1680, 1681, 1682]
  Universe
  	ID             =	450
  	Name           =	u_9_3
  	Geom           =	CSG
  	Cells          =	[1743, 1744, 1745, 1746]
  Universe
  	ID             =	467
  	Name           =	u_10_3
  	Geom           =	CSG
  	Cells          =	[1811, 1812, 1813, 1814]
  Universe
  	ID             =	484
  	Name           =	u_11_3
  	Geom           =	CSG
  	Cells          =	[1878, 1879, 1880, 1881]
  Universe
  	ID             =	501
  	Name           =	u_12_3
  	Geom           =	CSG
  	Cells          =	[1942, 1943, 1944, 1945]
  Universe
  	ID             =	518
  	Name           =	u_13_3
  	Geom           =	CSG
  	Cells          =	[2010, 2011, 2012]
  Universe
  	ID             =	535
  	Name           =	u_14_3
  	Geom           =	CSG
  	Cells          =	[2076, 2077, 2078, 2079]
  Universe
  	ID             =	552
  	Name           =	u_15_3
  	Geom           =	CSG
  	Cells          =	[2141, 2142, 2143, 2144]
  Universe
  	ID             =	569
  	Name           =	u_16_3
  	Geom           =	CSG
  	Cells          =	[2209, 2210, 2211, 2212]]
 [Universe
  	ID             =	362
  	Name           =	u_4_0
  	Geom           =	CSG
  	Cells          =	[1401, 1402, 1403, 1404]
  Universe
  	ID             =	363
  	Name           =	u_4_1
  	Geom           =	CSG
  	Cells          =	[1405, 1406, 1407, 1408]
  Universe
  	ID             =	364
  	Name           =	u_4_2
  	Geom           =	CSG
  	Cells          =	[1409, 1410, 1411, 1412]
  Universe
  	ID             =	365
  	Name           =	u_4_3
  	Geom           =	CSG
  	Cells          =	[1413, 1414, 1415, 1416]
  Universe
  	ID             =	366
  	Name           =	u_4_4
  	Geom           =	CSG
  	Cells          =	[1417, 1418, 1419, 1420]
  Universe
  	ID             =	383
  	Name           =	u_5_4
  	Geom           =	CSG
  	Cells          =	[1484, 1485, 1486, 1487]
  Universe
  	ID             =	400
  	Name           =	u_6_4
  	Geom           =	CSG
  	Cells          =	[1548, 1549, 1550, 1551]
  Universe
  	ID             =	417
  	Name           =	u_7_4
  	Geom           =	CSG
  	Cells          =	[1616, 1617, 1618, 1619]
  Universe
  	ID             =	434
  	Name           =	u_8_4
  	Geom           =	CSG
  	Cells          =	[1683, 1684, 1685, 1686]
  Universe
  	ID             =	451
  	Name           =	u_9_4
  	Geom           =	CSG
  	Cells          =	[1747, 1748, 1749, 1750]
  Universe
  	ID             =	468
  	Name           =	u_10_4
  	Geom           =	CSG
  	Cells          =	[1815, 1816, 1817, 1818]
  Universe
  	ID             =	485
  	Name           =	u_11_4
  	Geom           =	CSG
  	Cells          =	[1882, 1883, 1884, 1885]
  Universe
  	ID             =	502
  	Name           =	u_12_4
  	Geom           =	CSG
  	Cells          =	[1946, 1947, 1948, 1949]
  Universe
  	ID             =	519
  	Name           =	u_13_4
  	Geom           =	CSG
  	Cells          =	[2013, 2014, 2015, 2016]
  Universe
  	ID             =	536
  	Name           =	u_14_4
  	Geom           =	CSG
  	Cells          =	[2080, 2081, 2082, 2083]
  Universe
  	ID             =	553
  	Name           =	u_15_4
  	Geom           =	CSG
  	Cells          =	[2145, 2146, 2147, 2148]
  Universe
  	ID             =	570
  	Name           =	u_16_4
  	Geom           =	CSG
  	Cells          =	[2213, 2214, 2215, 2216]]
 [Universe
  	ID             =	379
  	Name           =	u_5_0
  	Geom           =	CSG
  	Cells          =	[1469, 1470, 1471, 1472]
  Universe
  	ID             =	380
  	Name           =	u_5_1
  	Geom           =	CSG
  	Cells          =	[1473, 1474, 1475, 1476]
  Universe
  	ID             =	381
  	Name           =	u_5_2
  	Geom           =	CSG
  	Cells          =	[1477, 1478, 1479]
  Universe
  	ID             =	382
  	Name           =	u_5_3
  	Geom           =	CSG
  	Cells          =	[1480, 1481, 1482, 1483]
  Universe
  	ID             =	383
  	Name           =	u_5_4
  	Geom           =	CSG
  	Cells          =	[1484, 1485, 1486, 1487]
  Universe
  	ID             =	384
  	Name           =	u_5_5
  	Geom           =	CSG
  	Cells          =	[1488, 1489, 1490]
  Universe
  	ID             =	401
  	Name           =	u_6_5
  	Geom           =	CSG
  	Cells          =	[1552, 1553, 1554, 1555]
  Universe
  	ID             =	418
  	Name           =	u_7_5
  	Geom           =	CSG
  	Cells          =	[1620, 1621, 1622, 1623]
  Universe
  	ID             =	435
  	Name           =	u_8_5
  	Geom           =	CSG
  	Cells          =	[1687, 1688, 1689]
  Universe
  	ID             =	452
  	Name           =	u_9_5
  	Geom           =	CSG
  	Cells          =	[1751, 1752, 1753, 1754]
  Universe
  	ID             =	469
  	Name           =	u_10_5
  	Geom           =	CSG
  	Cells          =	[1819, 1820, 1821, 1822]
  Universe
  	ID             =	486
  	Name           =	u_11_5
  	Geom           =	CSG
  	Cells          =	[1886, 1887, 1888]
  Universe
  	ID             =	503
  	Name           =	u_12_5
  	Geom           =	CSG
  	Cells          =	[1950, 1951, 1952, 1953]
  Universe
  	ID             =	520
  	Name           =	u_13_5
  	Geom           =	CSG
  	Cells          =	[2017, 2018, 2019, 2020]
  Universe
  	ID             =	537
  	Name           =	u_14_5
  	Geom           =	CSG
  	Cells          =	[2084, 2085, 2086]
  Universe
  	ID             =	554
  	Name           =	u_15_5
  	Geom           =	CSG
  	Cells          =	[2149, 2150, 2151, 2152]
  Universe
  	ID             =	571
  	Name           =	u_16_5
  	Geom           =	CSG
  	Cells          =	[2217, 2218, 2219, 2220]]
 [Universe
  	ID             =	396
  	Name           =	u_6_0
  	Geom           =	CSG
  	Cells          =	[1532, 1533, 1534, 1535]
  Universe
  	ID             =	397
  	Name           =	u_6_1
  	Geom           =	CSG
  	Cells          =	[1536, 1537, 1538, 1539]
  Universe
  	ID             =	398
  	Name           =	u_6_2
  	Geom           =	CSG
  	Cells          =	[1540, 1541, 1542, 1543]
  Universe
  	ID             =	399
  	Name           =	u_6_3
  	Geom           =	CSG
  	Cells          =	[1544, 1545, 1546, 1547]
  Universe
  	ID             =	400
  	Name           =	u_6_4
  	Geom           =	CSG
  	Cells          =	[1548, 1549, 1550, 1551]
  Universe
  	ID             =	401
  	Name           =	u_6_5
  	Geom           =	CSG
  	Cells          =	[1552, 1553, 1554, 1555]
  Universe
  	ID             =	402
  	Name           =	u_6_6
  	Geom           =	CSG
  	Cells          =	[1556, 1557, 1558, 1559]
  Universe
  	ID             =	419
  	Name           =	u_7_6
  	Geom           =	CSG
  	Cells          =	[1624, 1625, 1626, 1627]
  Universe
  	ID             =	436
  	Name           =	u_8_6
  	Geom           =	CSG
  	Cells          =	[1690, 1691, 1692, 1693]
  Universe
  	ID             =	453
  	Name           =	u_9_6
  	Geom           =	CSG
  	Cells          =	[1755, 1756, 1757, 1758]
  Universe
  	ID             =	470
  	Name           =	u_10_6
  	Geom           =	CSG
  	Cells          =	[1823, 1824, 1825, 1826]
  Universe
  	ID             =	487
  	Name           =	u_11_6
  	Geom           =	CSG
  	Cells          =	[1889, 1890, 1891, 1892]
  Universe
  	ID             =	504
  	Name           =	u_12_6
  	Geom           =	CSG
  	Cells          =	[1954, 1955, 1956, 1957]
  Universe
  	ID             =	521
  	Name           =	u_13_6
  	Geom           =	CSG
  	Cells          =	[2021, 2022, 2023, 2024]
  Universe
  	ID             =	538
  	Name           =	u_14_6
  	Geom           =	CSG
  	Cells          =	[2087, 2088, 2089, 2090]
  Universe
  	ID             =	555
  	Name           =	u_15_6
  	Geom           =	CSG
  	Cells          =	[2153, 2154, 2155, 2156]
  Universe
  	ID             =	572
  	Name           =	u_16_6
  	Geom           =	CSG
  	Cells          =	[2221, 2222, 2223, 2224]]
 [Universe
  	ID             =	413
  	Name           =	u_7_0
  	Geom           =	CSG
  	Cells          =	[1600, 1601, 1602, 1603]
  Universe
  	ID             =	414
  	Name           =	u_7_1
  	Geom           =	CSG
  	Cells          =	[1604, 1605, 1606, 1607]
  Universe
  	ID             =	415
  	Name           =	u_7_2
  	Geom           =	CSG
  	Cells          =	[1608, 1609, 1610, 1611]
  Universe
  	ID             =	416
  	Name           =	u_7_3
  	Geom           =	CSG
  	Cells          =	[1612, 1613, 1614, 1615]
  Universe
  	ID             =	417
  	Name           =	u_7_4
  	Geom           =	CSG
  	Cells          =	[1616, 1617, 1618, 1619]
  Universe
  	ID             =	418
  	Name           =	u_7_5
  	Geom           =	CSG
  	Cells          =	[1620, 1621, 1622, 1623]
  Universe
  	ID             =	419
  	Name           =	u_7_6
  	Geom           =	CSG
  	Cells          =	[1624, 1625, 1626, 1627]
  Universe
  	ID             =	420
  	Name           =	u_7_7
  	Geom           =	CSG
  	Cells          =	[1628, 1629, 1630, 1631]
  Universe
  	ID             =	437
  	Name           =	u_8_7
  	Geom           =	CSG
  	Cells          =	[1694, 1695, 1696, 1697]
  Universe
  	ID             =	454
  	Name           =	u_9_7
  	Geom           =	CSG
  	Cells          =	[1759, 1760, 1761, 1762]
  Universe
  	ID             =	471
  	Name           =	u_10_7
  	Geom           =	CSG
  	Cells          =	[1827, 1828, 1829, 1830]
  Universe
  	ID             =	488
  	Name           =	u_11_7
  	Geom           =	CSG
  	Cells          =	[1893, 1894, 1895, 1896]
  Universe
  	ID             =	505
  	Name           =	u_12_7
  	Geom           =	CSG
  	Cells          =	[1958, 1959, 1960, 1961]
  Universe
  	ID             =	522
  	Name           =	u_13_7
  	Geom           =	CSG
  	Cells          =	[2025, 2026, 2027, 2028]
  Universe
  	ID             =	539
  	Name           =	u_14_7
  	Geom           =	CSG
  	Cells          =	[2091, 2092, 2093, 2094]
  Universe
  	ID             =	556
  	Name           =	u_15_7
  	Geom           =	CSG
  	Cells          =	[2157, 2158, 2159, 2160]
  Universe
  	ID             =	573
  	Name           =	u_16_7
  	Geom           =	CSG
  	Cells          =	[2225, 2226, 2227, 2228]]
 [Universe
  	ID             =	430
  	Name           =	u_8_0
  	Geom           =	CSG
  	Cells          =	[1668, 1669, 1670, 1671]
  Universe
  	ID             =	431
  	Name           =	u_8_1
  	Geom           =	CSG
  	Cells          =	[1672, 1673, 1674, 1675]
  Universe
  	ID             =	432
  	Name           =	u_8_2
  	Geom           =	CSG
  	Cells          =	[1676, 1677, 1678]
  Universe
  	ID             =	433
  	Name           =	u_8_3
  	Geom           =	CSG
  	Cells          =	[1679, 1680, 1681, 1682]
  Universe
  	ID             =	434
  	Name           =	u_8_4
  	Geom           =	CSG
  	Cells          =	[1683, 1684, 1685, 1686]
  Universe
  	ID             =	435
  	Name           =	u_8_5
  	Geom           =	CSG
  	Cells          =	[1687, 1688, 1689]
  Universe
  	ID             =	436
  	Name           =	u_8_6
  	Geom           =	CSG
  	Cells          =	[1690, 1691, 1692, 1693]
  Universe
  	ID             =	437
  	Name           =	u_8_7
  	Geom           =	CSG
  	Cells          =	[1694, 1695, 1696, 1697]
  Universe
  	ID             =	438
  	Name           =	u_8_8
  	Geom           =	CSG
  	Cells          =	[1698, 1699, 1700]
  Universe
  	ID             =	455
  	Name           =	u_9_8
  	Geom           =	CSG
  	Cells          =	[1763, 1764, 1765, 1766]
  Universe
  	ID             =	472
  	Name           =	u_10_8
  	Geom           =	CSG
  	Cells          =	[1831, 1832, 1833, 1834]
  Universe
  	ID             =	489
  	Name           =	u_11_8
  	Geom           =	CSG
  	Cells          =	[1897, 1898, 1899]
  Universe
  	ID             =	506
  	Name           =	u_12_8
  	Geom           =	CSG
  	Cells          =	[1962, 1963, 1964, 1965]
  Universe
  	ID             =	523
  	Name           =	u_13_8
  	Geom           =	CSG
  	Cells          =	[2029, 2030, 2031, 2032]
  Universe
  	ID             =	540
  	Name           =	u_14_8
  	Geom           =	CSG
  	Cells          =	[2095, 2096, 2097]
  Universe
  	ID             =	557
  	Name           =	u_15_8
  	Geom           =	CSG
  	Cells          =	[2161, 2162, 2163, 2164]
  Universe
  	ID             =	574
  	Name           =	u_16_8
  	Geom           =	CSG
  	Cells          =	[2229, 2230, 2231, 2232]]
 [Universe
  	ID             =	447
  	Name           =	u_9_0
  	Geom           =	CSG

### Plot

model.materials.export_to_xml()
model.geometry.export_to_xml()
plot = openmc.Plot.from_geometry(model.geometry)
plot.pixels = (500, 500)
plot.width = (pitch_assembly+dr, pitch_assembly+dr)
plot.origin = (0., 0., 0)
plot.color_by = 'cell'
plot.to_ipython_image()

### Choose settings

In [20]:
bounds = [-pitch_assembly/2, 0, -rod_height/2, 0, +pitch_assembly/2, rod_height/2]
uniform_dist = openmc.stats.Box(bounds[:3], bounds[3:], only_fissionable=True)
source = openmc.IndependentSource(space=uniform_dist)
source.time = openmc.stats.Uniform(0, 1e-6)
settings = openmc.Settings()
settings.source = source
settings = openmc.Settings()
settings.source = source
settings.batches = 50
settings.inactive = 20
settings.particles = 50000
settings.keff_trigger = {'type':'std_dev','threshold':0.00050}
settings.trigger_active = True
settings.trigger_max_batches = 50000
settings.output = {'tallies':True}
settings.temperature['method'] = 'interpolation'
model.settings = settings

### Define and choose energy group

In [21]:
choose_group=openmc.mgxs.GROUP_STRUCTURES['XMAS-172']
name_group='XMAS172'

### Create MGXS tallies for mgxs directory

In [22]:
pattern = r"[a-zA-Z]+_(\d{1,2})_(\d{1,2})"
def check_numbers(string):
    match = re.match(pattern, string)
    if match:
        n1, n2 = match.groups()
        n1, n2 = int(n1), int(n2)
        return 0 <= n1 <= 8 and 0 <= n2 <= 8
    return False
cell_in_quarter=[]    
for cell in model.geometry.get_all_material_cells().values():
    if check_numbers(cell.name)==True:
        cell_in_quarter.append(cell)       
print(cell_in_quarter)

[Cell
	ID             =	1134
	Name           =	fuel_0_0
	Fill           =	Material 5
	Region         =	-2005
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1135
	Name           =	gap_0_0
	Fill           =	Material 8
	Region         =	(2005 -2006)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1136
	Name           =	clad_0_0
	Fill           =	Material 6
	Region         =	(2006 -2007)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1137
	Name           =	moderator_0_0
	Fill           =	Material 7
	Region         =	(2008 -2009 2010 -2011 2007)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1202
	Name           =	fuel_1_0
	Fill           =	Material 5
	Region         =	-2124
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1203
	Name           =	gap_1_0
	Fill           =	Material 8
	Region         =	(2124 -2125)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1204
	Name           =	clad_1_0
	Fill           =	Material 6
	Region         =	(2125 -2126)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1205
	Name           =	moderator_1_0
	Fill           =	Material 7
	Region         =	(2127 -2128 2129 -2130 2126)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1270
	Name           =	fuel_2_0
	Fill           =	Material 5
	Region         =	-2243
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1271
	Name           =	gap_2_0
	Fill           =	Material 8
	Region         =	(2243 -2244)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1272
	Name           =	clad_2_0
	Fill           =	Material 6
	Region         =	(2244 -2245)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1273
	Name           =	moderator_2_0
	Fill           =	Material 7
	Region         =	(2246 -2247 2248 -2249 2245)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1335
	Name           =	fuel_3_0
	Fill           =	Material 5
	Region         =	-2359
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1336
	Name           =	gap_3_0
	Fill           =	Material 8
	Region         =	(2359 -2360)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1337
	Name           =	clad_3_0
	Fill           =	Material 6
	Region         =	(2360 -2361)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1338
	Name           =	moderator_3_0
	Fill           =	Material 7
	Region         =	(2362 -2363 2364 -2365 2361)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1401
	Name           =	fuel_4_0
	Fill           =	Material 5
	Region         =	-2476
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1402
	Name           =	gap_4_0
	Fill           =	Material 8
	Region         =	(2476 -2477)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1403
	Name           =	clad_4_0
	Fill           =	Material 6
	Region         =	(2477 -2478)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1404
	Name           =	moderator_4_0
	Fill           =	Material 7
	Region         =	(2479 -2480 2481 -2482 2478)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1469
	Name           =	fuel_5_0
	Fill           =	Material 5
	Region         =	-2595
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1470
	Name           =	gap_5_0
	Fill           =	Material 8
	Region         =	(2595 -2596)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1471
	Name           =	clad_5_0
	Fill           =	Material 6
	Region         =	(2596 -2597)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1472
	Name           =	moderator_5_0
	Fill           =	Material 7
	Region         =	(2598 -2599 2600 -2601 2597)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1532
	Name           =	fuel_6_0
	Fill           =	Material 5
	Region         =	-2709
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1533
	Name           =	gap_6_0
	Fill           =	Material 8
	Region         =	(2709 -2710)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1534
	Name           =	clad_6_0
	Fill           =	Material 6
	Region         =	(2710 -2711)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1535
	Name           =	moderator_6_0
	Fill           =	Material 7
	Region         =	(2712 -2713 2714 -2715 2711)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1600
	Name           =	fuel_7_0
	Fill           =	Material 5
	Region         =	-2828
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1601
	Name           =	gap_7_0
	Fill           =	Material 8
	Region         =	(2828 -2829)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1602
	Name           =	clad_7_0
	Fill           =	Material 6
	Region         =	(2829 -2830)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1603
	Name           =	moderator_7_0
	Fill           =	Material 7
	Region         =	(2831 -2832 2833 -2834 2830)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1668
	Name           =	fuel_8_0
	Fill           =	Material 5
	Region         =	-2947
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1669
	Name           =	gap_8_0
	Fill           =	Material 8
	Region         =	(2947 -2948)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1670
	Name           =	clad_8_0
	Fill           =	Material 6
	Region         =	(2948 -2949)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1671
	Name           =	moderator_8_0
	Fill           =	Material 7
	Region         =	(2950 -2951 2952 -2953 2949)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1206
	Name           =	fuel_1_1
	Fill           =	Material 5
	Region         =	-2131
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1207
	Name           =	gap_1_1
	Fill           =	Material 8
	Region         =	(2131 -2132)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1208
	Name           =	clad_1_1
	Fill           =	Material 6
	Region         =	(2132 -2133)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1209
	Name           =	moderator_1_1
	Fill           =	Material 7
	Region         =	(2134 -2135 2136 -2137 2133)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1274
	Name           =	fuel_2_1
	Fill           =	Material 5
	Region         =	-2250
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1275
	Name           =	gap_2_1
	Fill           =	Material 8
	Region         =	(2250 -2251)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1276
	Name           =	clad_2_1
	Fill           =	Material 6
	Region         =	(2251 -2252)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1277
	Name           =	moderator_2_1
	Fill           =	Material 7
	Region         =	(2253 -2254 2255 -2256 2252)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1339
	Name           =	fuel_3_1
	Fill           =	Material 5
	Region         =	-2366
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1340
	Name           =	gap_3_1
	Fill           =	Material 8
	Region         =	(2366 -2367)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1341
	Name           =	clad_3_1
	Fill           =	Material 6
	Region         =	(2367 -2368)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1342
	Name           =	moderator_3_1
	Fill           =	Material 7
	Region         =	(2369 -2370 2371 -2372 2368)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1405
	Name           =	fuel_4_1
	Fill           =	Material 5
	Region         =	-2483
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1406
	Name           =	gap_4_1
	Fill           =	Material 8
	Region         =	(2483 -2484)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1407
	Name           =	clad_4_1
	Fill           =	Material 6
	Region         =	(2484 -2485)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1408
	Name           =	moderator_4_1
	Fill           =	Material 7
	Region         =	(2486 -2487 2488 -2489 2485)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1473
	Name           =	fuel_5_1
	Fill           =	Material 5
	Region         =	-2602
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1474
	Name           =	gap_5_1
	Fill           =	Material 8
	Region         =	(2602 -2603)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1475
	Name           =	clad_5_1
	Fill           =	Material 6
	Region         =	(2603 -2604)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1476
	Name           =	moderator_5_1
	Fill           =	Material 7
	Region         =	(2605 -2606 2607 -2608 2604)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1536
	Name           =	fuel_6_1
	Fill           =	Material 5
	Region         =	-2716
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1537
	Name           =	gap_6_1
	Fill           =	Material 8
	Region         =	(2716 -2717)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1538
	Name           =	clad_6_1
	Fill           =	Material 6
	Region         =	(2717 -2718)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1539
	Name           =	moderator_6_1
	Fill           =	Material 7
	Region         =	(2719 -2720 2721 -2722 2718)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1604
	Name           =	fuel_7_1
	Fill           =	Material 5
	Region         =	-2835
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1605
	Name           =	gap_7_1
	Fill           =	Material 8
	Region         =	(2835 -2836)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1606
	Name           =	clad_7_1
	Fill           =	Material 6
	Region         =	(2836 -2837)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1607
	Name           =	moderator_7_1
	Fill           =	Material 7
	Region         =	(2838 -2839 2840 -2841 2837)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1672
	Name           =	fuel_8_1
	Fill           =	Material 5
	Region         =	-2954
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1673
	Name           =	gap_8_1
	Fill           =	Material 8
	Region         =	(2954 -2955)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1674
	Name           =	clad_8_1
	Fill           =	Material 6
	Region         =	(2955 -2956)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1675
	Name           =	moderator_8_1
	Fill           =	Material 7
	Region         =	(2957 -2958 2959 -2960 2956)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1278
	Name           =	fuel_2_2
	Fill           =	Material 5
	Region         =	-2257
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1279
	Name           =	gap_2_2
	Fill           =	Material 8
	Region         =	(2257 -2258)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1280
	Name           =	clad_2_2
	Fill           =	Material 6
	Region         =	(2258 -2259)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1281
	Name           =	moderator_2_2
	Fill           =	Material 7
	Region         =	(2260 -2261 2262 -2263 2259)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1343
	Name           =	fuel_3_2
	Fill           =	Material 5
	Region         =	-2373
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1344
	Name           =	gap_3_2
	Fill           =	Material 8
	Region         =	(2373 -2374)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1345
	Name           =	clad_3_2
	Fill           =	Material 6
	Region         =	(2374 -2375)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1346
	Name           =	moderator_3_2
	Fill           =	Material 7
	Region         =	(2376 -2377 2378 -2379 2375)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1409
	Name           =	fuel_4_2
	Fill           =	Material 5
	Region         =	-2490
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1410
	Name           =	gap_4_2
	Fill           =	Material 8
	Region         =	(2490 -2491)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1411
	Name           =	clad_4_2
	Fill           =	Material 6
	Region         =	(2491 -2492)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1412
	Name           =	moderator_4_2
	Fill           =	Material 7
	Region         =	(2493 -2494 2495 -2496 2492)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1477
	Name           =	water_5_2
	Fill           =	Material 7
	Region         =	-2609
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1478
	Name           =	clad_5_2
	Fill           =	Material 6
	Region         =	(2609 -2610)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1479
	Name           =	moderator_5_2
	Fill           =	Material 7
	Region         =	(2611 -2612 2613 -2614 2610)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1540
	Name           =	fuel_6_2
	Fill           =	Material 5
	Region         =	-2723
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1541
	Name           =	gap_6_2
	Fill           =	Material 8
	Region         =	(2723 -2724)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1542
	Name           =	clad_6_2
	Fill           =	Material 6
	Region         =	(2724 -2725)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1543
	Name           =	moderator_6_2
	Fill           =	Material 7
	Region         =	(2726 -2727 2728 -2729 2725)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1608
	Name           =	fuel_7_2
	Fill           =	Material 5
	Region         =	-2842
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1609
	Name           =	gap_7_2
	Fill           =	Material 8
	Region         =	(2842 -2843)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1610
	Name           =	clad_7_2
	Fill           =	Material 6
	Region         =	(2843 -2844)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1611
	Name           =	moderator_7_2
	Fill           =	Material 7
	Region         =	(2845 -2846 2847 -2848 2844)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1676
	Name           =	water_8_2
	Fill           =	Material 7
	Region         =	-2961
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1677
	Name           =	clad_8_2
	Fill           =	Material 6
	Region         =	(2961 -2962)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1678
	Name           =	moderator_8_2
	Fill           =	Material 7
	Region         =	(2963 -2964 2965 -2966 2962)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	1347

In [23]:
mgxs_lib = openmc.mgxs.Library(model.geometry)
groups = openmc.mgxs.EnergyGroups(choose_group)
mgxs_lib.energy_groups = groups
mgxs_lib.scatter_format = "legendre"
mgxs_lib.legendre_order = 3
mgxs_lib.mgxs_types = ['total', 'absorption', 'fission', 'nu-fission', 'chi', 'scatter matrix', 'nu-scatter matrix', 'inverse-velocity']
#mgxs_lib.tally_trigger =openmc.Trigger('std_dev', 1e-2)
mgxs_lib.by_nuclide = False
mgxs_lib.domain_type = 'cell'
mgxs_lib.domains = cell_in_quarter
mgxs_lib.build_library()
tallies = openmc.Tallies()
mgxs_lib.add_to_tallies_file(tallies, merge=True)
model.tallies = tallies

#model.export_to_xml()
# model.export_to_model_xml('model_2A_36_families.xml')
model.export_to_model_xml('model_36_test.xml')

/opt/anaconda3/envs/openmc-env/lib/python3.12/site-packages/openmc/mgxs/library.py:401: RuntimeWarning: The P0 correction will be ignored since the scattering order 3 is greater than zero
  warn(msg, RuntimeWarning)
/opt/anaconda3/envs/openmc-env/lib/python3.12/site-packages/openmc/mixin.py:70: IDWarning: Another Filter instance already exists with id=6422.
  warn(msg, IDWarning)
/opt/anaconda3/envs/openmc-env/lib/python3.12/site-packages/openmc/mixin.py:70: IDWarning: Another Filter instance already exists with id=2.
  warn(msg, IDWarning)
/opt/anaconda3/envs/openmc-env/lib/python3.12/site-packages/openmc/mixin.py:70: IDWarning: Another Filter instance already exists with id=10.
  warn(msg, IDWarning)

### Create power tally

tally_power = openmc.Tally(name='power')
tally_flux = openmc.Tally(name='flux')

all_cell=model.geometry.get_all_material_cells().values()
A=[]
B=[]
for cell in all_cell:
    for x in range(9):
        for y in range(9):
            if cell.name == 'fuel_'+str(x)+'_'+str(y):
                B.append(cell)
    A.append(cell)
    
fuel_cell=openmc.CellFilter(A)
all_cell=openmc.CellFilter(A)

tally_power.scores = ['kappa-fission']
tally_power.filters = [fuel_cell]
#trigger_power = openmc.Trigger('std_dev', 1000)
#tally_power.triggers = [trigger_power]


energy_filter = openmc.EnergyFilter([0.0, 4.0, 1.0e6])
tally_flux.scores = ['flux']
tally_flux.filters = [all_cell,energy_filter]


tallies = openmc.Tallies([tally_power,tally_flux])
model.tallies=tallies


#model.export_to_xml()
model.export_to_model_xml('model_2A_72_families_power.xml')

### Run OpenMC model

sp_file = model.run()