# 3x3 assembly inputfile that:

### Import module/Set up XS path/Create openMC model/Clean directory

In [42]:
import sys
import os 
import openmc
import numpy as np
import matplotlib.pyplot as plt
import openmc.mgxs as mgxs
import pandas as pd
from IPython.display import Image
import glob

### Pablo environnement

In [43]:
model=openmc.Model()

clean_file_list = ["model.xml", "materials.xml", "geometry.xml","plots.xml","geometry.xml","settings.xml","tallies.out","summary.h5","statepoint.50.h5"]
for file in clean_file_list :
    path_file = os.path.join(os.getcwd(), file)
    if os.path.exists(path_file):
        os.remove(path_file)

### Define Materials

In [44]:
uo2 = openmc.Material(name='uo2')
uo2.add_nuclide('U234', 6.11864E-06, 'ao')
uo2.add_nuclide('U235', 7.18132E-04, 'ao')
uo2.add_nuclide('U236', 3.29861E-06, 'ao')
uo2.add_nuclide('U238', 2.21546E-02, 'ao')
uo2.add_nuclide('O16', 4.57642E-02, 'ao')
uo2.set_density('g/cm3', 10.257 )
uo2.temperature=565

zirconium = openmc.Material(name="zirconium")
zirconium.add_nuclide('Zr90', 2.18865E-02, 'ao')
zirconium.add_nuclide('Zr91', 4.77292E-03, 'ao')
zirconium.add_nuclide('Zr92', 7.29551E-03, 'ao')
zirconium.add_nuclide('Zr94', 7.39335E-03, 'ao')
zirconium.add_nuclide('Zr96', 1.19110E-03, 'ao')
zirconium.add_nuclide('Sn112',4.68066E-06, 'ao')
zirconium.add_nuclide('Sn114', 3.18478E-06, 'ao')
zirconium.add_nuclide('Sn115', 1.64064E-06, 'ao')
zirconium.add_nuclide('Sn116', 7.01616E-05, 'ao')
zirconium.add_nuclide('Sn117', 3.70592E-05, 'ao')
zirconium.add_nuclide('Sn118', 1.16872E-04, 'ao')
zirconium.add_nuclide('Sn119', 4.14504E-05, 'ao')
zirconium.add_nuclide('Sn120', 1.57212E-04, 'ao')
zirconium.add_nuclide('Sn122', 2.23417E-05, 'ao')
zirconium.add_nuclide('Sn124', 2.79392E-05, 'ao')
zirconium.add_nuclide('Fe54', 8.68307E-06, 'ao')
zirconium.add_nuclide('Fe56', 1.36306E-04, 'ao')
zirconium.add_nuclide('Fe57', 3.14789E-06, 'ao')
zirconium.add_nuclide('Fe58', 4.18926E-07, 'ao')
zirconium.add_nuclide('Cr50', 3.30121E-06, 'ao')
zirconium.add_nuclide('Cr52', 6.36606E-05, 'ao')
zirconium.add_nuclide('Cr53', 7.21860E-06, 'ao')
zirconium.add_nuclide('Cr54', 1.79686E-06, 'ao')
zirconium.add_nuclide('Hf174', 3.54138E-09, 'ao')
zirconium.add_nuclide('Hf176', 1.16423E-07, 'ao')
zirconium.add_nuclide('Hf177', 4.11686E-07, 'ao')
zirconium.add_nuclide('Hf178', 6.03806E-07, 'ao')
zirconium.add_nuclide('Hf179', 3.01460E-07, 'ao')
zirconium.add_nuclide('Hf180', 7.76449E-07, 'ao')
zirconium.set_density('g/cm3',  6.56)

water = openmc.Material(name="water")
water.add_nuclide('H1',4.41459E-02, 'ao')
water.add_nuclide('O16', 2.20729E-02, 'ao')
water.add_nuclide('B10', 9.52537E-06, 'ao')
water.add_nuclide('B11', 3.83408E-05, 'ao')
water.temperature=565
water.set_density('g/cm3', 0.743)
water.add_s_alpha_beta('c_H_in_H2O')

helium = openmc.Material(name="helium")
helium.add_nuclide('He4',1, 'ao')
helium.temperature=565
helium.set_density('g/cm3', 0.17860E-03)



model.materials = openmc.Materials([uo2, zirconium, water,helium]) 
#Perso path
#model.materials.cross_sections = '/home/pablo/internship/xs_for_input/cross_sections.xml'
#Mac path
model.materials.cross_sections = '/Users/pablogarcia44/repo/endfb-vii.1-hdf5/cross_sections.xml'

### Create pincell

In [45]:
def pincell(index_x,index_y):
    fuel_outer_radius = openmc.ZCylinder(r=0.4096)
    clad_inner_radius = openmc.ZCylinder(r=0.418)
    clad_outer_radius = openmc.ZCylinder(r=0.475)
    pitch = 1.26
    left = openmc.XPlane(-pitch/2, boundary_type='transmission')
    right = openmc.XPlane(pitch/2, boundary_type='transmission')
    bottom = openmc.YPlane(-pitch/2, boundary_type='transmission')
    top = openmc.YPlane(pitch/2, boundary_type='transmission')
    fuel_region = -fuel_outer_radius
    gap_region = +fuel_outer_radius & -clad_inner_radius
    clad_region = +clad_inner_radius & -clad_outer_radius
    water_region = +left & -right & +bottom & -top & +clad_outer_radius
    fuel = openmc.Cell(name='fuel'+'_'+str(index_x)+'_'+str(index_y))
    fuel.fill = uo2
    fuel.region = fuel_region
    gap = openmc.Cell(name='gap'+'_'+str(index_x)+'_'+str(index_y))
    gap.region = gap_region
    gap.fill = helium
    clad = openmc.Cell(name='clad'+'_'+str(index_x)+'_'+str(index_y))
    clad.fill = zirconium
    clad.region = clad_region
    moderator = openmc.Cell(name='moderator'+'_'+str(index_x)+'_'+str(index_y))
    moderator.fill = water
    moderator.region = water_region 
    u = openmc.Universe(name='u'+'_'+str(index_x)+'_'+str(index_y),cells=(fuel, gap, clad, moderator))
    return(u,fuel,gap,clad,moderator)

### Create guide tube

In [46]:
def guide(index_x,index_y):
    clad_inner_radius = openmc.ZCylinder(r=0.561)
    clad_outer_radius = openmc.ZCylinder(r=0.602)
    pitch = 1.26
    left = openmc.XPlane(-pitch/2, boundary_type='transmission')
    right = openmc.XPlane(pitch/2, boundary_type='transmission')
    bottom = openmc.YPlane(-pitch/2, boundary_type='transmission')
    top = openmc.YPlane(pitch/2, boundary_type='transmission')       
    clad_region = +clad_inner_radius & -clad_outer_radius
    water_region = +left & -right & +bottom & -top & +clad_outer_radius
    water_guide_region= -clad_inner_radius
    water_guide = openmc.Cell(name='water'+'_'+str(index_x)+'_'+str(index_y))
    water_guide.fill = water
    water_guide.region = water_guide_region
    clad = openmc.Cell(name='clad'+'_'+str(index_x)+'_'+str(index_y))
    clad.fill = zirconium
    clad.region = clad_region
    moderator = openmc.Cell(name='moderator'+'_'+str(index_x)+'_'+str(index_y))
    moderator.fill = water
    moderator.region = water_region 
    u = openmc.Universe(name='u'+'_'+str(index_x)+'_'+str(index_y),cells=(water_guide, clad, moderator))
    return(u,water_guide,water_guide,clad,moderator)

### Create instrumentation tube

In [47]:
def instru(index_x,index_y):
    clad_inner_radius = openmc.ZCylinder(r=0.559)
    clad_outer_radius = openmc.ZCylinder(r=0.605)
    pitch = 1.26
    left = openmc.XPlane(-pitch/2, boundary_type='transmission')
    right = openmc.XPlane(pitch/2, boundary_type='transmission')
    bottom = openmc.YPlane(-pitch/2, boundary_type='transmission')
    top = openmc.YPlane(pitch/2, boundary_type='transmission')       
    clad_region = +clad_inner_radius & -clad_outer_radius
    water_region = +left & -right & +bottom & -top & +clad_outer_radius
    water_guide_region= -clad_inner_radius
    water_guide = openmc.Cell(name='water'+'_'+str(index_x)+'_'+str(index_y))
    water_guide.fill = water
    water_guide.region = water_guide_region
    clad = openmc.Cell(name='clad'+'_'+str(index_x)+'_'+str(index_y))
    clad.fill = zirconium
    clad.region = clad_region
    moderator = openmc.Cell(name='moderator'+'_'+str(index_x)+'_'+str(index_y))
    moderator.fill = water
    moderator.region = water_region 
    u = openmc.Universe(name='u'+'_'+str(index_x)+'_'+str(index_y),cells=(water_guide, clad, moderator))
    return(u,water_guide,water_guide,clad,moderator)

### Mappping

In [48]:
GT=[(5,2),(8,2),(3,3),(2,5),(5,5),(8,5),(2,8),(5,8)]
IT=[(8,8)]

GT_left=[]
GT_full=[]
for X in GT:
    GT_left.append((X[0],X[1]))
    GT_left.append((X[0],16-X[1]))
for X in GT_left:
    GT_full.append((X[0],X[1]))
    GT_full.append((16-X[0],X[1]))    
GT_full = list(set(GT_full))

### Define assembly

In [49]:
assembly = openmc.RectLattice()
pitch=1.26

dr=4e-2 # cm of water that is outside assembly
size=17 #size of the assembly 
pitch_assembly=size*pitch+2*dr 
assembly.pitch = (pitch,pitch)

assembly.lower_left = (-size/2*pitch, -size/2*pitch)


A= np.empty((size, size), dtype=openmc.universe.Universe)
   

for ix in range(size):
    for iy in range(size):
        if (ix,iy) in GT_full : 
            A[ix][iy]=guide(ix,iy)[0]
            A[iy][ix]=A[ix][iy]
        elif (ix,iy) in IT :
            A[ix][iy]=instru(ix,iy)[0]
            A[iy][ix]=A[ix][iy]
        else:
            A[ix][iy]=pincell(ix,iy)[0]
            A[iy][ix]=A[ix][iy]
print(A)   
assembly.universes = A

moderator_outside = openmc.Cell(name='water_outside')
moderator_outside.fill = water
all_water = openmc.Universe()
all_water.add_cell(moderator_outside)
assembly.outer=all_water

rod_height=385.1
# 1/4 assembly
min_x = openmc.XPlane(x0=-(size/2*pitch+dr), boundary_type='reflective')
max_x = openmc.XPlane(x0=0, boundary_type='reflective')
min_y = openmc.YPlane(y0=0, boundary_type='reflective')
max_y = openmc.YPlane(y0=+(size/2*pitch+dr), boundary_type='reflective')
min_z = openmc.ZPlane(z0=-rod_height/2, boundary_type='reflective')
max_z = openmc.ZPlane(z0=+rod_height/2, boundary_type='reflective')



root_cell = openmc.Cell(name='root cell', fill=assembly)
root_cell.region = +min_x & -max_x & +min_y & -max_y & +min_z & -max_z

model.geometry.root_universe = openmc.Universe(name='root universe')
model.geometry.root_universe.add_cell(root_cell)

[[Universe
  	ID             =	1170
  	Name           =	u_0_0
  	Geom           =	CSG
  	Cells          =	[4533, 4534, 4535, 4536]
  Universe
  	ID             =	1187
  	Name           =	u_1_0
  	Geom           =	CSG
  	Cells          =	[4601, 4602, 4603, 4604]
  Universe
  	ID             =	1204
  	Name           =	u_2_0
  	Geom           =	CSG
  	Cells          =	[4669, 4670, 4671, 4672]
  Universe
  	ID             =	1221
  	Name           =	u_3_0
  	Geom           =	CSG
  	Cells          =	[4734, 4735, 4736, 4737]
  Universe
  	ID             =	1238
  	Name           =	u_4_0
  	Geom           =	CSG
  	Cells          =	[4800, 4801, 4802, 4803]
  Universe
  	ID             =	1255
  	Name           =	u_5_0
  	Geom           =	CSG
  	Cells          =	[4868, 4869, 4870, 4871]
  Universe
  	ID             =	1272
  	Name           =	u_6_0
  	Geom           =	CSG
  	Cells          =	[4931, 4932, 4933, 4934]
  Universe
  	ID             =	1289
  	Name           =	u_7_0
  	Geom           =	CSG
  	Cells          =	[4999, 5000, 5001, 5002]
  Universe
  	ID             =	1306
  	Name           =	u_8_0
  	Geom           =	CSG
  	Cells          =	[5067, 5068, 5069, 5070]
  Universe
  	ID             =	1323
  	Name           =	u_9_0
  	Geom           =	CSG
  	Cells          =	[5130, 5131, 5132, 5133]
  Universe
  	ID             =	1340
  	Name           =	u_10_0
  	Geom           =	CSG
  	Cells          =	[5198, 5199, 5200, 5201]
  Universe
  	ID             =	1357
  	Name           =	u_11_0
  	Geom           =	CSG
  	Cells          =	[5266, 5267, 5268, 5269]
  Universe
  	ID             =	1374
  	Name           =	u_12_0
  	Geom           =	CSG
  	Cells          =	[5329, 5330, 5331, 5332]
  Universe
  	ID             =	1391
  	Name           =	u_13_0
  	Geom           =	CSG
  	Cells          =	[5397, 5398, 5399, 5400]
  Universe
  	ID             =	1408
  	Name           =	u_14_0
  	Geom           =	CSG
  	Cells          =	[5463, 5464, 5465, 5466]
  Universe
  	ID             =	1425
  	Name           =	u_15_0
  	Geom           =	CSG
  	Cells          =	[5528, 5529, 5530, 5531]
  Universe
  	ID             =	1442
  	Name           =	u_16_0
  	Geom           =	CSG
  	Cells          =	[5596, 5597, 5598, 5599]]
 [Universe
  	ID             =	1187
  	Name           =	u_1_0
  	Geom           =	CSG
  	Cells          =	[4601, 4602, 4603, 4604]
  Universe
  	ID             =	1188
  	Name           =	u_1_1
  	Geom           =	CSG
  	Cells          =	[4605, 4606, 4607, 4608]
  Universe
  	ID             =	1205
  	Name           =	u_2_1
  	Geom           =	CSG
  	Cells          =	[4673, 4674, 4675, 4676]
  Universe
  	ID             =	1222
  	Name           =	u_3_1
  	Geom           =	CSG
  	Cells          =	[4738, 4739, 4740, 4741]
  Universe
  	ID             =	1239
  	Name           =	u_4_1
  	Geom           =	CSG
  	Cells          =	[4804, 4805, 4806, 4807]
  Universe
  	ID             =	1256
  	Name           =	u_5_1
  	Geom           =	CSG
  	Cells          =	[4872, 4873, 4874, 4875]
  Universe
  	ID             =	1273
  	Name           =	u_6_1
  	Geom           =	CSG
  	Cells          =	[4935, 4936, 4937, 4938]
  Universe
  	ID             =	1290
  	Name           =	u_7_1
  	Geom           =	CSG
  	Cells          =	[5003, 5004, 5005, 5006]
  Universe
  	ID             =	1307
  	Name           =	u_8_1
  	Geom           =	CSG
  	Cells          =	[5071, 5072, 5073, 5074]
  Universe
  	ID             =	1324
  	Name           =	u_9_1
  	Geom           =	CSG
  	Cells          =	[5134, 5135, 5136, 5137]
  Universe
  	ID             =	1341
  	Name           =	u_10_1
  	Geom           =	CSG
  	Cells          =	[5202, 5203, 5204, 5205]
  Universe
  	ID             =	1358
  	Name           =	u_11_1
  	Geom           =	CSG
  	Cells          =	[5270, 5271, 5272, 5273]
  Universe
  	ID             =	1375
  	Name           =	u_12_1
  	Geom           =	CSG
  	Cells          =	[5333, 5334, 5335, 5336]
  Universe
  	ID             =	1392
  	Name           =	u_13_1
  	Geom           =	CSG
  	Cells          =	[5401, 5402, 5403, 5404]
  Universe
  	ID             =	1409
  	Name           =	u_14_1
  	Geom           =	CSG
  	Cells          =	[5467, 5468, 5469, 5470]
  Universe
  	ID             =	1426
  	Name           =	u_15_1
  	Geom           =	CSG
  	Cells          =	[5532, 5533, 5534, 5535]
  Universe
  	ID             =	1443
  	Name           =	u_16_1
  	Geom           =	CSG
  	Cells          =	[5600, 5601, 5602, 5603]]
 [Universe
  	ID             =	1204
  	Name           =	u_2_0
  	Geom           =	CSG
  	Cells          =	[4669, 4670, 4671, 4672]
  Universe
  	ID             =	1205
  	Name           =	u_2_1
  	Geom           =	CSG
  	Cells          =	[4673, 4674, 4675, 4676]
  Universe
  	ID             =	1206
  	Name           =	u_2_2
  	Geom           =	CSG
  	Cells          =	[4677, 4678, 4679, 4680]
  Universe
  	ID             =	1223
  	Name           =	u_3_2
  	Geom           =	CSG
  	Cells          =	[4742, 4743, 4744, 4745]
  Universe
  	ID             =	1240
  	Name           =	u_4_2
  	Geom           =	CSG
  	Cells          =	[4808, 4809, 4810, 4811]
  Universe
  	ID             =	1257
  	Name           =	u_5_2
  	Geom           =	CSG
  	Cells          =	[4876, 4877, 4878]
  Universe
  	ID             =	1274
  	Name           =	u_6_2
  	Geom           =	CSG
  	Cells          =	[4939, 4940, 4941, 4942]
  Universe
  	ID             =	1291
  	Name           =	u_7_2
  	Geom           =	CSG
  	Cells          =	[5007, 5008, 5009, 5010]
  Universe
  	ID             =	1308
  	Name           =	u_8_2
  	Geom           =	CSG
  	Cells          =	[5075, 5076, 5077]
  Universe
  	ID             =	1325
  	Name           =	u_9_2
  	Geom           =	CSG
  	Cells          =	[5138, 5139, 5140, 5141]
  Universe
  	ID             =	1342
  	Name           =	u_10_2
  	Geom           =	CSG
  	Cells          =	[5206, 5207, 5208, 5209]
  Universe
  	ID             =	1359
  	Name           =	u_11_2
  	Geom           =	CSG
  	Cells          =	[5274, 5275, 5276]
  Universe
  	ID             =	1376
  	Name           =	u_12_2
  	Geom           =	CSG
  	Cells          =	[5337, 5338, 5339, 5340]
  Universe
  	ID             =	1393
  	Name           =	u_13_2
  	Geom           =	CSG
  	Cells          =	[5405, 5406, 5407, 5408]
  Universe
  	ID             =	1410
  	Name           =	u_14_2
  	Geom           =	CSG
  	Cells          =	[5471, 5472, 5473, 5474]
  Universe
  	ID             =	1427
  	Name           =	u_15_2
  	Geom           =	CSG
  	Cells          =	[5536, 5537, 5538, 5539]
  Universe
  	ID             =	1444
  	Name           =	u_16_2
  	Geom           =	CSG
  	Cells          =	[5604, 5605, 5606, 5607]]
 [Universe
  	ID             =	1221
  	Name           =	u_3_0
  	Geom           =	CSG
  	Cells          =	[4734, 4735, 4736, 4737]
  Universe
  	ID             =	1222
  	Name           =	u_3_1
  	Geom           =	CSG
  	Cells          =	[4738, 4739, 4740, 4741]
  Universe
  	ID             =	1223
  	Name           =	u_3_2
  	Geom           =	CSG
  	Cells          =	[4742, 4743, 4744, 4745]
  Universe
  	ID             =	1224
  	Name           =	u_3_3
  	Geom           =	CSG
  	Cells          =	[4746, 4747, 4748]
  Universe
  	ID             =	1241
  	Name           =	u_4_3
  	Geom           =	CSG
  	Cells          =	[4812, 4813, 4814, 4815]
  Universe
  	ID             =	1258
  	Name           =	u_5_3
  	Geom           =	CSG
  	Cells          =	[4879, 4880, 4881, 4882]
  Universe
  	ID             =	1275
  	Name           =	u_6_3
  	Geom           =	CSG
  	Cells          =	[4943, 4944, 4945, 4946]
  Universe
  	ID             =	1292
  	Name           =	u_7_3
  	Geom           =	CSG
  	Cells          =	[5011, 5012, 5013, 5014]
  Universe
  	ID             =	1309
  	Name           =	u_8_3
  	Geom           =	CSG
  	Cells          =	[5078, 5079, 5080, 5081]
  Universe
  	ID             =	1326
  	Name           =	u_9_3
  	Geom           =	CSG
  	Cells          =	[5142, 5143, 5144, 5145]
  Universe
  	ID             =	1343
  	Name           =	u_10_3
  	Geom           =	CSG
  	Cells          =	[5210, 5211, 5212, 5213]
  Universe
  	ID             =	1360
  	Name           =	u_11_3
  	Geom           =	CSG
  	Cells          =	[5277, 5278, 5279, 5280]
  Universe
  	ID             =	1377
  	Name           =	u_12_3
  	Geom           =	CSG
  	Cells          =	[5341, 5342, 5343, 5344]
  Universe
  	ID             =	1394
  	Name           =	u_13_3
  	Geom           =	CSG
  	Cells          =	[5409, 5410, 5411]
  Universe
  	ID             =	1411
  	Name           =	u_14_3
  	Geom           =	CSG
  	Cells          =	[5475, 5476, 5477, 5478]
  Universe
  	ID             =	1428
  	Name           =	u_15_3
  	Geom           =	CSG
  	Cells          =	[5540, 5541, 5542, 5543]
  Universe
  	ID             =	1445
  	Name           =	u_16_3
  	Geom           =	CSG
  	Cells          =	[5608, 5609, 5610, 5611]]
 [Universe
  	ID             =	1238
  	Name           =	u_4_0
  	Geom           =	CSG
  	Cells          =	[4800, 4801, 4802, 4803]
  Universe
  	ID             =	1239
  	Name           =	u_4_1
  	Geom           =	CSG
  	Cells          =	[4804, 4805, 4806, 4807]
  Universe
  	ID             =	1240
  	Name           =	u_4_2
  	Geom           =	CSG
  	Cells          =	[4808, 4809, 4810, 4811]
  Universe
  	ID             =	1241
  	Name           =	u_4_3
  	Geom           =	CSG
  	Cells          =	[4812, 4813, 4814, 4815]
  Universe
  	ID             =	1242
  	Name           =	u_4_4
  	Geom           =	CSG
  	Cells          =	[4816, 4817, 4818, 4819]
  Universe
  	ID             =	1259
  	Name           =	u_5_4
  	Geom           =	CSG
  	Cells          =	[4883, 4884, 4885, 4886]
  Universe
  	ID             =	1276
  	Name           =	u_6_4
  	Geom           =	CSG
  	Cells          =	[4947, 4948, 4949, 4950]
  Universe
  	ID             =	1293
  	Name           =	u_7_4
  	Geom           =	CSG
  	Cells          =	[5015, 5016, 5017, 5018]
  Universe
  	ID             =	1310
  	Name           =	u_8_4
  	Geom           =	CSG
  	Cells          =	[5082, 5083, 5084, 5085]
  Universe
  	ID             =	1327
  	Name           =	u_9_4
  	Geom           =	CSG
  	Cells          =	[5146, 5147, 5148, 5149]
  Universe
  	ID             =	1344
  	Name           =	u_10_4
  	Geom           =	CSG
  	Cells          =	[5214, 5215, 5216, 5217]
  Universe
  	ID             =	1361
  	Name           =	u_11_4
  	Geom           =	CSG
  	Cells          =	[5281, 5282, 5283, 5284]
  Universe
  	ID             =	1378
  	Name           =	u_12_4
  	Geom           =	CSG
  	Cells          =	[5345, 5346, 5347, 5348]
  Universe
  	ID             =	1395
  	Name           =	u_13_4
  	Geom           =	CSG
  	Cells          =	[5412, 5413, 5414, 5415]
  Universe
  	ID             =	1412
  	Name           =	u_14_4
  	Geom           =	CSG
  	Cells          =	[5479, 5480, 5481, 5482]
  Universe
  	ID             =	1429
  	Name           =	u_15_4
  	Geom           =	CSG
  	Cells          =	[5544, 5545, 5546, 5547]
  Universe
  	ID             =	1446
  	Name           =	u_16_4
  	Geom           =	CSG
  	Cells          =	[5612, 5613, 5614, 5615]]
 [Universe
  	ID             =	1255
  	Name           =	u_5_0
  	Geom           =	CSG
  	Cells          =	[4868, 4869, 4870, 4871]
  Universe
  	ID             =	1256
  	Name           =	u_5_1
  	Geom           =	CSG
  	Cells          =	[4872, 4873, 4874, 4875]
  Universe
  	ID             =	1257
  	Name           =	u_5_2
  	Geom           =	CSG
  	Cells          =	[4876, 4877, 4878]
  Universe
  	ID             =	1258
  	Name           =	u_5_3
  	Geom           =	CSG
  	Cells          =	[4879, 4880, 4881, 4882]
  Universe
  	ID             =	1259
  	Name           =	u_5_4
  	Geom           =	CSG
  	Cells          =	[4883, 4884, 4885, 4886]
  Universe
  	ID             =	1260
  	Name           =	u_5_5
  	Geom           =	CSG
  	Cells          =	[4887, 4888, 4889]
  Universe
  	ID             =	1277
  	Name           =	u_6_5
  	Geom           =	CSG
  	Cells          =	[4951, 4952, 4953, 4954]
  Universe
  	ID             =	1294
  	Name           =	u_7_5
  	Geom           =	CSG
  	Cells          =	[5019, 5020, 5021, 5022]
  Universe
  	ID             =	1311
  	Name           =	u_8_5
  	Geom           =	CSG
  	Cells          =	[5086, 5087, 5088]
  Universe
  	ID             =	1328
  	Name           =	u_9_5
  	Geom           =	CSG
  	Cells          =	[5150, 5151, 5152, 5153]
  Universe
  	ID             =	1345
  	Name           =	u_10_5
  	Geom           =	CSG
  	Cells          =	[5218, 5219, 5220, 5221]
  Universe
  	ID             =	1362
  	Name           =	u_11_5
  	Geom           =	CSG
  	Cells          =	[5285, 5286, 5287]
  Universe
  	ID             =	1379
  	Name           =	u_12_5
  	Geom           =	CSG
  	Cells          =	[5349, 5350, 5351, 5352]
  Universe
  	ID             =	1396
  	Name           =	u_13_5
  	Geom           =	CSG
  	Cells          =	[5416, 5417, 5418, 5419]
  Universe
  	ID             =	1413
  	Name           =	u_14_5
  	Geom           =	CSG
  	Cells          =	[5483, 5484, 5485]
  Universe
  	ID             =	1430
  	Name           =	u_15_5
  	Geom           =	CSG
  	Cells          =	[5548, 5549, 5550, 5551]
  Universe
  	ID             =	1447
  	Name           =	u_16_5
  	Geom           =	CSG
  	Cells          =	[5616, 5617, 5618, 5619]]
 [Universe
  	ID             =	1272
  	Name           =	u_6_0
  	Geom           =	CSG
  	Cells          =	[4931, 4932, 4933, 4934]
  Universe
  	ID             =	1273
  	Name           =	u_6_1
  	Geom           =	CSG
  	Cells          =	[4935, 4936, 4937, 4938]
  Universe
  	ID             =	1274
  	Name           =	u_6_2
  	Geom           =	CSG
  	Cells          =	[4939, 4940, 4941, 4942]
  Universe
  	ID             =	1275
  	Name           =	u_6_3
  	Geom           =	CSG
  	Cells          =	[4943, 4944, 4945, 4946]
  Universe
  	ID             =	1276
  	Name           =	u_6_4
  	Geom           =	CSG
  	Cells          =	[4947, 4948, 4949, 4950]
  Universe
  	ID             =	1277
  	Name           =	u_6_5
  	Geom           =	CSG
  	Cells          =	[4951, 4952, 4953, 4954]
  Universe
  	ID             =	1278
  	Name           =	u_6_6
  	Geom           =	CSG
  	Cells          =	[4955, 4956, 4957, 4958]
  Universe
  	ID             =	1295
  	Name           =	u_7_6
  	Geom           =	CSG
  	Cells          =	[5023, 5024, 5025, 5026]
  Universe
  	ID             =	1312
  	Name           =	u_8_6
  	Geom           =	CSG
  	Cells          =	[5089, 5090, 5091, 5092]
  Universe
  	ID             =	1329
  	Name           =	u_9_6
  	Geom           =	CSG
  	Cells          =	[5154, 5155, 5156, 5157]
  Universe
  	ID             =	1346
  	Name           =	u_10_6
  	Geom           =	CSG
  	Cells          =	[5222, 5223, 5224, 5225]
  Universe
  	ID             =	1363
  	Name           =	u_11_6
  	Geom           =	CSG
  	Cells          =	[5288, 5289, 5290, 5291]
  Universe
  	ID             =	1380
  	Name           =	u_12_6
  	Geom           =	CSG
  	Cells          =	[5353, 5354, 5355, 5356]
  Universe
  	ID             =	1397
  	Name           =	u_13_6
  	Geom           =	CSG
  	Cells          =	[5420, 5421, 5422, 5423]
  Universe
  	ID             =	1414
  	Name           =	u_14_6
  	Geom           =	CSG
  	Cells          =	[5486, 5487, 5488, 5489]
  Universe
  	ID             =	1431
  	Name           =	u_15_6
  	Geom           =	CSG
  	Cells          =	[5552, 5553, 5554, 5555]
  Universe
  	ID             =	1448
  	Name           =	u_16_6
  	Geom           =	CSG
  	Cells          =	[5620, 5621, 5622, 5623]]
 [Universe
  	ID             =	1289
  	Name           =	u_7_0
  	Geom           =	CSG
  	Cells          =	[4999, 5000, 5001, 5002]
  Universe
  	ID             =	1290
  	Name           =	u_7_1
  	Geom           =	CSG
  	Cells          =	[5003, 5004, 5005, 5006]
  Universe
  	ID             =	1291
  	Name           =	u_7_2
  	Geom           =	CSG
  	Cells          =	[5007, 5008, 5009, 5010]
  Universe
  	ID             =	1292
  	Name           =	u_7_3
  	Geom           =	CSG
  	Cells          =	[5011, 5012, 5013, 5014]
  Universe
  	ID             =	1293
  	Name           =	u_7_4
  	Geom           =	CSG
  	Cells          =	[5015, 5016, 5017, 5018]
  Universe
  	ID             =	1294
  	Name           =	u_7_5
  	Geom           =	CSG
  	Cells          =	[5019, 5020, 5021, 5022]
  Universe
  	ID             =	1295
  	Name           =	u_7_6
  	Geom           =	CSG
  	Cells          =	[5023, 5024, 5025, 5026]
  Universe
  	ID             =	1296
  	Name           =	u_7_7
  	Geom           =	CSG
  	Cells          =	[5027, 5028, 5029, 5030]
  Universe
  	ID             =	1313
  	Name           =	u_8_7
  	Geom           =	CSG
  	Cells          =	[5093, 5094, 5095, 5096]
  Universe
  	ID             =	1330
  	Name           =	u_9_7
  	Geom           =	CSG
  	Cells          =	[5158, 5159, 5160, 5161]
  Universe
  	ID             =	1347
  	Name           =	u_10_7
  	Geom           =	CSG
  	Cells          =	[5226, 5227, 5228, 5229]
  Universe
  	ID             =	1364
  	Name           =	u_11_7
  	Geom           =	CSG
  	Cells          =	[5292, 5293, 5294, 5295]
  Universe
  	ID             =	1381
  	Name           =	u_12_7
  	Geom           =	CSG
  	Cells          =	[5357, 5358, 5359, 5360]
  Universe
  	ID             =	1398
  	Name           =	u_13_7
  	Geom           =	CSG
  	Cells          =	[5424, 5425, 5426, 5427]
  Universe
  	ID             =	1415
  	Name           =	u_14_7
  	Geom           =	CSG
  	Cells          =	[5490, 5491, 5492, 5493]
  Universe
  	ID             =	1432
  	Name           =	u_15_7
  	Geom           =	CSG
  	Cells          =	[5556, 5557, 5558, 5559]
  Universe
  	ID             =	1449
  	Name           =	u_16_7
  	Geom           =	CSG
  	Cells          =	[5624, 5625, 5626, 5627]]
 [Universe
  	ID             =	1306
  	Name           =	u_8_0
  	Geom           =	CSG
  	Cells          =	[5067, 5068, 5069, 5070]
  Universe
  	ID             =	1307
  	Name           =	u_8_1
  	Geom           =	CSG
  	Cells          =	[5071, 5072, 5073, 5074]
  Universe
  	ID             =	1308
  	Name           =	u_8_2
  	Geom           =	CSG
  	Cells          =	[5075, 5076, 5077]
  Universe
  	ID             =	1309
  	Name           =	u_8_3
  	Geom           =	CSG
  	Cells          =	[5078, 5079, 5080, 5081]
  Universe
  	ID             =	1310
  	Name           =	u_8_4
  	Geom           =	CSG
  	Cells          =	[5082, 5083, 5084, 5085]
  Universe
  	ID             =	1311
  	Name           =	u_8_5
  	Geom           =	CSG
  	Cells          =	[5086, 5087, 5088]
  Universe
  	ID             =	1312
  	Name           =	u_8_6
  	Geom           =	CSG
  	Cells          =	[5089, 5090, 5091, 5092]
  Universe
  	ID             =	1313
  	Name           =	u_8_7
  	Geom           =	CSG
  	Cells          =	[5093, 5094, 5095, 5096]
  Universe
  	ID             =	1314
  	Name           =	u_8_8
  	Geom           =	CSG
  	Cells          =	[5097, 5098, 5099]
  Universe
  	ID             =	1331
  	Name           =	u_9_8
  	Geom           =	CSG
  	Cells          =	[5162, 5163, 5164, 5165]
  Universe
  	ID             =	1348
  	Name           =	u_10_8
  	Geom           =	CSG
  	Cells          =	[5230, 5231, 5232, 5233]
  Universe
  	ID             =	1365
  	Name           =	u_11_8
  	Geom           =	CSG
  	Cells          =	[5296, 5297, 5298]
  Universe
  	ID             =	1382
  	Name           =	u_12_8
  	Geom           =	CSG
  	Cells          =	[5361, 5362, 5363, 5364]
  Universe
  	ID             =	1399
  	Name           =	u_13_8
  	Geom           =	CSG
  	Cells          =	[5428, 5429, 5430, 5431]
  Universe
  	ID             =	1416
  	Name           =	u_14_8
  	Geom           =	CSG
  	Cells          =	[5494, 5495, 5496]
  Universe
  	ID             =	1433
  	Name           =	u_15_8
  	Geom           =	CSG
  	Cells          =	[5560, 5561, 5562, 5563]
  Universe
  	ID             =	1450
  	Name           =	u_16_8
  	Geom           =	CSG

### Plot

model.materials.export_to_xml()
model.geometry.export_to_xml()
plot = openmc.Plot.from_geometry(model.geometry)
plot.pixels = (500, 500)
plot.width = (pitch_assembly+dr, pitch_assembly+dr)
plot.origin = (0., 0., 0)
plot.color_by = 'cell'
plot.to_ipython_image()

### Choose settings

In [50]:
bounds = [-pitch_assembly/2, 0, -rod_height/2, 0, +pitch_assembly/2, rod_height/2]
uniform_dist = openmc.stats.Box(bounds[:3], bounds[3:], only_fissionable=True)
source = openmc.IndependentSource(space=uniform_dist)
source.time = openmc.stats.Uniform(0, 1e-6)
settings = openmc.Settings()
settings.source = source
settings = openmc.Settings()
settings.source = source
settings.batches = 50
settings.inactive = 20
settings.particles = 50000
settings.keff_trigger = {'type':'std_dev','threshold':0.00050}
settings.trigger_active = True
settings.trigger_max_batches = 50000
settings.output = {'tallies':True}
settings.temperature['method'] = 'interpolation'
model.settings = settings

### Define and choose energy group

In [51]:
choose_group=openmc.mgxs.GROUP_STRUCTURES['XMAS-172']
name_group='XMAS172'

### Create MGXS tallies for mgxs directory

In [52]:
pattern = r"[a-zA-Z]+_(\d{1,2})_(\d{1,2})"
def check_numbers(string):
    match = re.match(pattern, string)
    if match:
        n1, n2 = match.groups()
        n1, n2 = int(n1), int(n2)
        return 0 <= n1 <= 8 and 0 <= n2 <= 8
    return False
cell_in_quarter=[]    
for cell in model.geometry.get_all_material_cells().values():
    if check_numbers(cell.name)==True:
        cell_in_quarter.append(cell)       
print(cell_in_quarter)

[Cell
	ID             =	4533
	Name           =	fuel_0_0
	Fill           =	Material 13
	Region         =	-8017
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4534
	Name           =	gap_0_0
	Fill           =	Material 16
	Region         =	(8017 -8018)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4535
	Name           =	clad_0_0
	Fill           =	Material 14
	Region         =	(8018 -8019)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4536
	Name           =	moderator_0_0
	Fill           =	Material 15
	Region         =	(8020 -8021 8022 -8023 8019)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4601
	Name           =	fuel_1_0
	Fill           =	Material 13
	Region         =	-8136
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4602
	Name           =	gap_1_0
	Fill           =	Material 16
	Region         =	(8136 -8137)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4603
	Name           =	clad_1_0
	Fill           =	Material 14
	Region         =	(8137 -8138)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4604
	Name           =	moderator_1_0
	Fill           =	Material 15
	Region         =	(8139 -8140 8141 -8142 8138)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4669
	Name           =	fuel_2_0
	Fill           =	Material 13
	Region         =	-8255
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4670
	Name           =	gap_2_0
	Fill           =	Material 16
	Region         =	(8255 -8256)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4671
	Name           =	clad_2_0
	Fill           =	Material 14
	Region         =	(8256 -8257)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4672
	Name           =	moderator_2_0
	Fill           =	Material 15
	Region         =	(8258 -8259 8260 -8261 8257)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4734
	Name           =	fuel_3_0
	Fill           =	Material 13
	Region         =	-8371
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4735
	Name           =	gap_3_0
	Fill           =	Material 16
	Region         =	(8371 -8372)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4736
	Name           =	clad_3_0
	Fill           =	Material 14
	Region         =	(8372 -8373)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4737
	Name           =	moderator_3_0
	Fill           =	Material 15
	Region         =	(8374 -8375 8376 -8377 8373)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4800
	Name           =	fuel_4_0
	Fill           =	Material 13
	Region         =	-8488
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4801
	Name           =	gap_4_0
	Fill           =	Material 16
	Region         =	(8488 -8489)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4802
	Name           =	clad_4_0
	Fill           =	Material 14
	Region         =	(8489 -8490)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4803
	Name           =	moderator_4_0
	Fill           =	Material 15
	Region         =	(8491 -8492 8493 -8494 8490)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4868
	Name           =	fuel_5_0
	Fill           =	Material 13
	Region         =	-8607
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4869
	Name           =	gap_5_0
	Fill           =	Material 16
	Region         =	(8607 -8608)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4870
	Name           =	clad_5_0
	Fill           =	Material 14
	Region         =	(8608 -8609)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4871
	Name           =	moderator_5_0
	Fill           =	Material 15
	Region         =	(8610 -8611 8612 -8613 8609)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4931
	Name           =	fuel_6_0
	Fill           =	Material 13
	Region         =	-8721
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4932
	Name           =	gap_6_0
	Fill           =	Material 16
	Region         =	(8721 -8722)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4933
	Name           =	clad_6_0
	Fill           =	Material 14
	Region         =	(8722 -8723)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4934
	Name           =	moderator_6_0
	Fill           =	Material 15
	Region         =	(8724 -8725 8726 -8727 8723)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4999
	Name           =	fuel_7_0
	Fill           =	Material 13
	Region         =	-8840
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5000
	Name           =	gap_7_0
	Fill           =	Material 16
	Region         =	(8840 -8841)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5001
	Name           =	clad_7_0
	Fill           =	Material 14
	Region         =	(8841 -8842)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5002
	Name           =	moderator_7_0
	Fill           =	Material 15
	Region         =	(8843 -8844 8845 -8846 8842)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5067
	Name           =	fuel_8_0
	Fill           =	Material 13
	Region         =	-8959
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5068
	Name           =	gap_8_0
	Fill           =	Material 16
	Region         =	(8959 -8960)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5069
	Name           =	clad_8_0
	Fill           =	Material 14
	Region         =	(8960 -8961)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5070
	Name           =	moderator_8_0
	Fill           =	Material 15
	Region         =	(8962 -8963 8964 -8965 8961)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4605
	Name           =	fuel_1_1
	Fill           =	Material 13
	Region         =	-8143
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4606
	Name           =	gap_1_1
	Fill           =	Material 16
	Region         =	(8143 -8144)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4607
	Name           =	clad_1_1
	Fill           =	Material 14
	Region         =	(8144 -8145)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4608
	Name           =	moderator_1_1
	Fill           =	Material 15
	Region         =	(8146 -8147 8148 -8149 8145)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4673
	Name           =	fuel_2_1
	Fill           =	Material 13
	Region         =	-8262
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4674
	Name           =	gap_2_1
	Fill           =	Material 16
	Region         =	(8262 -8263)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4675
	Name           =	clad_2_1
	Fill           =	Material 14
	Region         =	(8263 -8264)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4676
	Name           =	moderator_2_1
	Fill           =	Material 15
	Region         =	(8265 -8266 8267 -8268 8264)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4738
	Name           =	fuel_3_1
	Fill           =	Material 13
	Region         =	-8378
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4739
	Name           =	gap_3_1
	Fill           =	Material 16
	Region         =	(8378 -8379)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4740
	Name           =	clad_3_1
	Fill           =	Material 14
	Region         =	(8379 -8380)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4741
	Name           =	moderator_3_1
	Fill           =	Material 15
	Region         =	(8381 -8382 8383 -8384 8380)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4804
	Name           =	fuel_4_1
	Fill           =	Material 13
	Region         =	-8495
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4805
	Name           =	gap_4_1
	Fill           =	Material 16
	Region         =	(8495 -8496)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4806
	Name           =	clad_4_1
	Fill           =	Material 14
	Region         =	(8496 -8497)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4807
	Name           =	moderator_4_1
	Fill           =	Material 15
	Region         =	(8498 -8499 8500 -8501 8497)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4872
	Name           =	fuel_5_1
	Fill           =	Material 13
	Region         =	-8614
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4873
	Name           =	gap_5_1
	Fill           =	Material 16
	Region         =	(8614 -8615)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4874
	Name           =	clad_5_1
	Fill           =	Material 14
	Region         =	(8615 -8616)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4875
	Name           =	moderator_5_1
	Fill           =	Material 15
	Region         =	(8617 -8618 8619 -8620 8616)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4935
	Name           =	fuel_6_1
	Fill           =	Material 13
	Region         =	-8728
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4936
	Name           =	gap_6_1
	Fill           =	Material 16
	Region         =	(8728 -8729)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4937
	Name           =	clad_6_1
	Fill           =	Material 14
	Region         =	(8729 -8730)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4938
	Name           =	moderator_6_1
	Fill           =	Material 15
	Region         =	(8731 -8732 8733 -8734 8730)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5003
	Name           =	fuel_7_1
	Fill           =	Material 13
	Region         =	-8847
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5004
	Name           =	gap_7_1
	Fill           =	Material 16
	Region         =	(8847 -8848)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5005
	Name           =	clad_7_1
	Fill           =	Material 14
	Region         =	(8848 -8849)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5006
	Name           =	moderator_7_1
	Fill           =	Material 15
	Region         =	(8850 -8851 8852 -8853 8849)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5071
	Name           =	fuel_8_1
	Fill           =	Material 13
	Region         =	-8966
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5072
	Name           =	gap_8_1
	Fill           =	Material 16
	Region         =	(8966 -8967)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5073
	Name           =	clad_8_1
	Fill           =	Material 14
	Region         =	(8967 -8968)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5074
	Name           =	moderator_8_1
	Fill           =	Material 15
	Region         =	(8969 -8970 8971 -8972 8968)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4677
	Name           =	fuel_2_2
	Fill           =	Material 13
	Region         =	-8269
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4678
	Name           =	gap_2_2
	Fill           =	Material 16
	Region         =	(8269 -8270)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4679
	Name           =	clad_2_2
	Fill           =	Material 14
	Region         =	(8270 -8271)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4680
	Name           =	moderator_2_2
	Fill           =	Material 15
	Region         =	(8272 -8273 8274 -8275 8271)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4742
	Name           =	fuel_3_2
	Fill           =	Material 13
	Region         =	-8385
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4743
	Name           =	gap_3_2
	Fill           =	Material 16
	Region         =	(8385 -8386)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4744
	Name           =	clad_3_2
	Fill           =	Material 14
	Region         =	(8386 -8387)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4745
	Name           =	moderator_3_2
	Fill           =	Material 15
	Region         =	(8388 -8389 8390 -8391 8387)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4808
	Name           =	fuel_4_2
	Fill           =	Material 13
	Region         =	-8502
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4809
	Name           =	gap_4_2
	Fill           =	Material 16
	Region         =	(8502 -8503)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4810
	Name           =	clad_4_2
	Fill           =	Material 14
	Region         =	(8503 -8504)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4811
	Name           =	moderator_4_2
	Fill           =	Material 15
	Region         =	(8505 -8506 8507 -8508 8504)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4876
	Name           =	water_5_2
	Fill           =	Material 15
	Region         =	-8621
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4877
	Name           =	clad_5_2
	Fill           =	Material 14
	Region         =	(8621 -8622)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4878
	Name           =	moderator_5_2
	Fill           =	Material 15
	Region         =	(8623 -8624 8625 -8626 8622)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4939
	Name           =	fuel_6_2
	Fill           =	Material 13
	Region         =	-8735
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4940
	Name           =	gap_6_2
	Fill           =	Material 16
	Region         =	(8735 -8736)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4941
	Name           =	clad_6_2
	Fill           =	Material 14
	Region         =	(8736 -8737)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	4942
	Name           =	moderator_6_2
	Fill           =	Material 15
	Region         =	(8738 -8739 8740 -8741 8737)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5007
	Name           =	fuel_7_2
	Fill           =	Material 13
	Region         =	-8854
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5008
	Name           =	gap_7_2
	Fill           =	Material 16
	Region         =	(8854 -8855)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5009
	Name           =	clad_7_2
	Fill           =	Material 14
	Region         =	(8855 -8856)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5010
	Name           =	moderator_7_2
	Fill           =	Material 15
	Region         =	(8857 -8858 8859 -8860 8856)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5075
	Name           =	water_8_2
	Fill           =	Material 15
	Region         =	-8973
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5076
	Name           =	clad_8_2
	Fill           =	Material 14
	Region         =	(8973 -8974)
	Rotation       =	None
	Temperature    =	None
	Translation    =	None
	Volume         =	None
, Cell
	ID             =	5077
	Name           =	moderator_8_2
	Fill           =	Material 15
	Region         =	(8975 -8976 8977 -8978 8974)
	Rotation       =	None

In [53]:
mgxs_lib = openmc.mgxs.Library(model.geometry)
groups = openmc.mgxs.EnergyGroups(choose_group)
mgxs_lib.energy_groups = groups
mgxs_lib.scatter_format = "legendre"
mgxs_lib.legendre_order = 3
mgxs_lib.mgxs_types = ['total', 'absorption', 'fission', 'nu-fission', 'chi', 'scatter matrix', 'nu-scatter matrix', 'inverse-velocity']
#mgxs_lib.tally_trigger =openmc.Trigger('std_dev', 1e-2)
mgxs_lib.by_nuclide = False
mgxs_lib.domain_type = 'cell'
mgxs_lib.domains = cell_in_quarter
mgxs_lib.build_library()
tallies = openmc.Tallies()
mgxs_lib.add_to_tallies_file(tallies, merge=True)
model.tallies = tallies

#model.export_to_xml()
model.export_to_model_xml('model_2A_36_families.xml')

/opt/anaconda3/envs/openmc-env/lib/python3.12/site-packages/openmc/mixin.py:70: IDWarning: Another Filter instance already exists with id=57064.
  warn(msg, IDWarning)
/opt/anaconda3/envs/openmc-env/lib/python3.12/site-packages/openmc/mixin.py:70: IDWarning: Another Filter instance already exists with id=50644.
  warn(msg, IDWarning)
/opt/anaconda3/envs/openmc-env/lib/python3.12/site-packages/openmc/mixin.py:70: IDWarning: Another Filter instance already exists with id=50652.
  warn(msg, IDWarning)

### Create power tally

tally_power = openmc.Tally(name='power')
tally_flux = openmc.Tally(name='flux')

all_cell=model.geometry.get_all_material_cells().values()
A=[]
B=[]
for cell in all_cell:
    for x in range(9):
        for y in range(9):
            if cell.name == 'fuel_'+str(x)+'_'+str(y):
                B.append(cell)
    A.append(cell)
    
fuel_cell=openmc.CellFilter(A)
all_cell=openmc.CellFilter(A)

tally_power.scores = ['kappa-fission']
tally_power.filters = [fuel_cell]
#trigger_power = openmc.Trigger('std_dev', 1000)
#tally_power.triggers = [trigger_power]


energy_filter = openmc.EnergyFilter([0.0, 4.0, 1.0e6])
tally_flux.scores = ['flux']
tally_flux.filters = [all_cell,energy_filter]


tallies = openmc.Tallies([tally_power,tally_flux])
model.tallies=tallies


#model.export_to_xml()
model.export_to_model_xml('model_2A_72_families_power.xml')

### Run OpenMC model

sp_file = model.run()